<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Blendist</title>
        <link rel="stylesheet" href="assets/css/app.css">
    </head>
    <body>
        <div id="application">
            Hello World!
        </div>
        <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
        <script src="assets/vendor/bootstrap/dist/js/bootstrap.js"></script>
    </body>
</html>
